# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_db
DB_SSL=false

CORS_ORIGINS=http://localhost:3000,http://localhost:5173
CORS_METHODS=GET,POST,PUT,PATCH,DELETE
CORS_CREDENTIALS=true


# Redis config
REDIS_HOST=redis-14303.c282.east-us-mz.azure.cloud.redislabs.com
REDIS_PORT=14303
REDIS_PASSWORD=Iic2J2ApZwgFqhUj7kYpKBJQGM6M9sqU
REDIS_DB=0


#Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_secret



